
<h2>{{title|uppercase}}</h2>

<h2>Альпинизм</h2>
<p>Альпини́зм — вид спорта и активного отдыха, целью которого является восхождение на вершины гор. Спортивная сущность альпинизма состоит в преодолении естественных препятствий, созданных природой (высоты, рельефа, погодных условий), на пути к вершине.</p>

<p>{{time|date:'H:mm:ss'}}</p>

<img src="/assets/images/alp.jpeg">
<img src="/assets/images/alp2.jpg">
<img src="/assets/images/alp3.jpeg">

<p [ngStyle]="{'font-style':'italic'}">Фотографии про альпинизм</p>

<img *ngFor="let img of imgs" [src]="img"/>



